<form class=" m-2" [formGroup]="form" (ngSubmit)="submit()">
  <div class="w-25 p-1">
    <label for="exampleInputLastName" class="form-label w-25">Фамилия</label>
    <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="emailHelp"
           formControlName="aLastName">
  </div>
  <div class="w-25 p-1">
    <label for="exampleInputName" class="form-label w-25">Имя</label>
    <input type="text" class="form-control" id="exampleInputName" formControlName="aFirstName">
  </div>
  <div class="w-25 p-1">
    <label for="exampleInputMiddleName" class="form-label w-25">Отчество</label>
    <input type="text" class="form-control" id="exampleInputMiddleName" formControlName="aMiddleName">
  </div>
  <h2>Автомобили</h2>
  <div class="d-flex">
    <div class="mr-2 size">Номер</div>
    <div class="mr-2 size">Марка</div>
    <div class="mr-2 size">Модель</div>
    <div class="mr-2 size">Год</div>
  </div>

  <div class="mt-2 mb-2 block" *ngFor="let car of cars" (click)="onSelect(car)">
    <input class="mr-2 size" type="text" value={{car.aNumber}}>
    <input class="mr-2 size" type="text" value={{car.aBrand}}>
    <input class="mr-2 size" type="text" value={{car.aModel}}>
    <input class="mr-2 size" type="text" value={{car.aYear}}>
    <button type="button" class="mr-2 btn btn-danger" (click)="removeCar(car)">Удалить</button>
  </div>

  <button type="button" class="btn btn-primary w-25" (click)="addCar()">Добавить aвтомобиль</button>
  <div>
    <button type="submit" class="btn btn-primary m-2">Сохранить</button>
    <button type="button" class="btn btn-secondary m-2" routerLink="/">Назад</button>
  </div>
</form>
